/* ==========================================================================
   #FOOTER
   ========================================================================== */

.Footer {
  padding: 40px 0;
  text-align: center;
}

.Footer-colophon {
  color: var(--color-text--secondary);
  font-size: 13px;
}
