/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.Button {
  display: inline-block;
  padding: 8px 20px;
  transition: background 0.2s;
  border: 1px solid var(--color-gray);
  border-radius: 2px;
  color: var(--color-text--secondary);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:active {
    border: 1px solid var(--color-gray--hover);
    color: var(--color-text--secondary--hover);
  }
}

.Button--m {
  padding: 12px 24px;
}

.Button--wide {
  display: block;
}

.Button--primary {
  border: 1px solid var(--color-green);
  background: var(--color-green);
  color: #FFF;
  font-weight: 600;
  text-transform: uppercase;

  &:hover,
  &:active {
    border: 1px solid var(--color-green--hover);
    background: var(--color-green--hover);
    color: white;
  }
}
